body {
    padding-bottom: 20px;
    font-family: 'Lucida Sans Unicode';
    /*background-color: rgba(205, 206, 205, 0.47);*/
}

body p b {
    font-family: 'Lucida Sans Unicode';
    font-weight: bold;
}

body h2 {
   font-family: 'CustomFont' !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


footer p {
    text-align: center;
}
#btnSearch {
    min-width: 100%;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #00406f;
    color: #FFFFFF;
}

#btnBook {
    padding: 15px;
    font-size: 20px;

    border-radius: 25px;
    background-color: #00406f;
    color: #FFFFFF;
}

#roomRow {
    padding-top: 30px; 
    padding-bottom: 20px; 
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    border: dotted 0.1px; 
    background-color: #fbfbfb;
}
#btnLogIn {
    background-color: #00406f;
    color: #FFFFFF;
}

@font-face {
  font-family: CustomFont;
  src: url('/fonts/Exo-Bold.otf');
}
