@model Booking.Models.RoomEquipmentViewModels

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    
    <img src="https://www.easv.dk/images/logo.png" alt="EASV Logo">
    <h2>BOOK DIT LOKALE</h2>
    <p class="lead">... før din kollega</p>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="input-group date">
            <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>

    </div>
    
    <div class="col-md-3">
        <div class="input-group date">
            <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="input-group date">
            <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="input-group date">
            <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
    </div>    
</div>

<div class="row">
    <div class="col-md-12">
        <input class="btn btn-ok" id="btnSearch" type="button" value="Søg.." />
    </div>
</div>

@foreach (var test in Model.Room)
{
    <div class="row" style="padding: 5%;     margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px; border: solid 0.1px; background-color: #eff1ee;">
        <div class="col-md-4">
            Lokale
            Beskrivelse
        </div>
        <div class="col-md-4">
            Test
        </div>
        <div class="col-md-4">
            Udstyr
        </div>
    </div>
}