@model Dll.Entities.Booking
@{
    ViewBag.Title = "BookRoom";
}

@if (Model != null)
{
    <h2>Dit lokale er nu booket.</h2>
}
else
{
    <h2>Dit lokale er ikke booket, da det ikke er ledig i den givne periode.</h2>
}

